.pic1{
	width: 100%;
	height: 310px;
}
h1{
	text-align: center;
	font-weight: 200;
}
.pic2{
	width: 100%;
	height: 70%;
}
.pic3{
	width: 100%;
	height: 70%;
}
.pic4{
	width: 100%;
	height: 50%;
}